.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 48dvw;
    max-height: 25dvh;
    overflow-y: scroll;
}

@media screen and (max-width: 1280px) {
    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: none;
    }
}